.toolbar{
    width:15%;
    float:left;
    height:100%;
    background-color: #ecede8 !important;
}

.toolbar td {
    border: 1px solid inherit;
    border-radius: 50%;
    -moz-border-radius: 50%;
    /*padding: 50%;*/
}

.button{
    height:20%;
    /*margin-top:5%;*/
    /*margin-bottom:5%;*/
    width:80%;
    margin-left:10%;
    margin-right:10%;
    font-size: 48px;
    color:#fd7e47;
    display:table;
}

i{
   /*padding-top:10%;*/
   display:table-cell !important;
   vertical-align: middle;
}

.toolbar div{
    background-color: #ecede8 !important;
}
#drawingArea{
    cursor:crosshair ;
    background-color:#fff;
    width:85%;
    height:100%;
    float:left;
}
#canvas{
    width:100%;
    height:100%;
}

.home{

}
.palette{

}

.color{
    /*width:10%;
    height:10%;*/
    padding:20%;
}

.onclick-menu {
    position: relative;
    /*width:100%;*/
    outline: none !important;
}
.onclick-menu li{
    display: inline-table;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    width:100%;
    height:100%;
    padding-left:0;
    left: 111%;
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

#menuButton{
    color:#fd7e47;
    position: absolute;
    width:20%;
    height:100%;
    right:0;
    font-size: 48px;
    display:table-cell !important;
}
.menu2 {
    height:20%;
    color:#fd7e47;
    width:80%;
    text-align: center;
    font-size: 48px;
    display:table;
}
.menu2 i{
    width:25%;
    height:100%;
    display:table-cell;
}

.menu2 i:before{
    padding: 10px;
    border-radius: 34px;
    background-color: ecede8;
}
#menuButton:before{
    padding: 10px;/*
    border-radius: 34px;
    background-color: ecede8;*/
}

.onclick-menu2 {
    position: relative;
    width:100%;
    outline: none !important;
}
.onclick-menu2 li{
    display: inline-table;
}
.onclick-menu2:focus {
    /* clicking on label should toggle the menu */
    /*pointer-events: none;*/
}
.onclick-menu2:focus .onclick-menu-content2 {
    /*  opacity is 1 in opened state (see below) */
    /*opacity: 1;*/
    /*visibility: visible;*/

    /* don't let pointer-events affect descendant elements */
    /*pointer-events: auto;*/
}
.onclick-menu-content2 {
    /*width:100%;*/
    /*height:100%;*/
    padding-left:0;
    /*left: 111%;*/
    /*top: -50%;*/
    position: absolute;
    z-index: 1;
    visibility: visible;
    /* use opacity to fake immediate toggle */
    opacity: 1;
    /*visibility: hidden;*/
    transition: visibility 0.5s;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}


.red{
    background-color:#c22;
}
.blue{
    background-color:#22c;
}
.green{
    background-color:#2c2;
}
.yellow{
    background-color:yellow;
}
.black{
    background-color:#000;
}
.gray{
    background-color:gray;
}