.toolbar{
    width:15%;
    float:left;
    height:100%;
    background-color: #ecede8 !important;
}

td {
    border: 1px solid inherit;
    border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 50%;
}

.button{
    height:15%;
    margin-top:5%;
    margin-bottom:5%;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    font-size: 48px;
}
.button {
     
    /*Step 2: Basic Button Styles*/
    display: block;
    /*height: 100px;*/
    /*width: 300px;*/
    background: #fd7e47;
    border: 2px solid rgba(33, 68, 72, 0.59);
     
    /*Step 3: Text Styles*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
     
    /*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #fd7e47, #b33e10);
    background: -moz-linear-gradient(top, #fd7e47, #b33e10);
    background: -o-linear-gradient(top, #fd7e47, #b33e10);
    background: -ms-linear-gradient(top, #fd7e47, #b33e10);
    background: linear-gradient(top, #fd7e47, #b33e10);
     
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
     
    -webkit-box-shadow: 0 8px 0 #8c3617;
    -moz-box-shadow: 0 8px 0 #8c3617;
    box-shadow: 0 8px 0 #8c3617;
     
    /*text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);*/
     
}
i{
   padding-top:10%;
}

.toolbar div{
    background-color: #ecede8 !important;
}
#drawingArea{
    cursor:crosshair ;
    background-color:#fff;
    width:85%;
    height:100%;
    float:left;
}
#canvas{
    width:100%;
    height:100%;
}

.home{

}
.palette{

}

.color{
    /*width:10%;
    height:10%;*/
    padding:20%;
}

.onclick-menu {
    position: relative;
    /*width:100%;*/
    display: inline-block;
    outline: none !important;
}
.onclick-menu li{
    display: inline-table;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    width:100%;
    height:100%;
    padding-left:0;
    left: 111%;
    top: -50%;
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}



.red{
    background-color:#c22;
}
.blue{
    background-color:#22c;
}
.green{
    background-color:#2c2;
}
.yellow{
    background-color:yellow;
}
.black{
    background-color:#000;
}
.gray{
    background-color:gray;
}