body,p,a,div
{
	font-family:'Quicksand';
}

body { 
	width: 100%;
	height:100%;
	background: rgba(65,132,149,1);
	background: -moz-linear-gradient(45deg, rgba(65,132,149,1) 0%, rgba(65,132,149,1) 34%, rgba(119,136,127,1) 71%, rgba(119,136,127,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(65,132,149,1)), color-stop(34%, rgba(65,132,149,1)), color-stop(71%, rgba(119,136,127,1)), color-stop(100%, rgba(119,136,127,1)));
	background: -webkit-linear-gradient(45deg, rgba(65,132,149,1) 0%, rgba(65,132,149,1) 34%, rgba(119,136,127,1) 71%, rgba(119,136,127,1) 100%);
	background: -o-linear-gradient(45deg, rgba(65,132,149,1) 0%, rgba(65,132,149,1) 34%, rgba(119,136,127,1) 71%, rgba(119,136,127,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(65,132,149,1) 0%, rgba(65,132,149,1) 34%, rgba(119,136,127,1) 71%, rgba(119,136,127,1) 100%);
	background: linear-gradient(45deg, rgba(65,132,149,1) 0%, rgba(65,132,149,1) 34%, rgba(119,136,127,1) 71%, rgba(119,136,127,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#418495', endColorstr='#77887f', GradientType=1 );
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
h1 { 
	color: #fff;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing:1px;
	text-align:center; 
}

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { 
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

button{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;

	font-size: 18px;
	font-weight: bold;
	position: relative;
	line-height: 36px;
	width:322px;
	height:40px;
	border-radius: 4px;
	padding: 10px;
	color:white;
	background-image: -webkit-linear-gradient( -45deg, #354f88 0%, #354f88 70%, #3b5998 70%, #3b5998 70%);
	background-image: linear-gradient( -45deg, #354f88 0%, #354f88 70%, #3b5998 70%, #3b5998 70%);
			
}

i{
	font-size: 24px !important;
	line-height: 36px !important;
	position: absolute;
	left:10%;
	top:0;
}
span{
	line-height: 36px;
	position: absolute;
	left: 30%;
	width: 70%;
	top: 0;
}
