body{
	background-color: #b5c9d4;
	display:block;
	vertical-align: middle;
	text-align: center;
	height:100%;
	width:100%;
}
a{
   color:inherit;
   text-decoration: none;
}
div{
	background-color: white; /* changed to white, seems to make everything a little cleaner*/
}



.device{
	height:100%;
	width:100%;
	max-width:800px;
	margin:auto; /* horizontally centers when max-width is invoked (ie screen is greater than 800 px wide)*/
}

/* Settings Style Stuff*/

/*
#ecede8 - Off white
#fd7e47 - Orange
#b5c9d4 - Light blue/gray
#73777a - Dark gray
*/
.settings {
	font-size: 40px;
	position: center;
}

table.tb_settings {
	width: 100%;
	height: 90%;
	/*border: 1px solid grey;*/
	padding: 5%;
	position: center;
	text-align: center;
	
}

table.customize {
	width: 60%;
	padding: 5%;
	position: left;

}
tr.tr_settings {
	border: 2px solid red;
	/*background-color: #b5c9d4;*/
}

td:hover {
	
	
/*color: #ecede8;
	font-style: #ecede8;*/
	background-color: #ecede8;
	text-shadow: 5px 5px 10px  #73777a;
}

td:active {
	color: #b5c9d4  ;
	text-shadow: 0px 0px 0px;

}

tr:hover {
	
}

td.td_settings {
	color: #73777a;
	text-align: center;
	font-style: Helvetica;
	font-size: 200%;

	border: 5px solid #73777a;
	padding: 10px;
}

/*td.filler {
	color: white;
	text-align: center;
	font-style: Helvetica;
	font-size: 200%;

	padding: 10px;
}*/

div.i_settings {
	font-size: 400%;
	/*background-color: #b5c9d4;*/
	float: left;
	color: #fd7e47;
	font-size: 400%;
	padding: 1%;
	
}

div.text {
	font-size: 400%;
	float: left;
	color: #fd7e47;
	font-size: 400%;
	padding: 1%;
}

div.customize {
	font-size: 400%;
	float: left;
	color: #fd7e47;
	font-size: 300%;
	padding: 1%;
}

div:hover {
	

	}

.div i {
	color: #fd7e47;
	font-size: 300%;
}


/*********************/