body{
	margin:0;
}

body, div,a,p
{
	font-family:'Quicksand';
}

#settings body{
	background-color: #b5c9d4;
	display:block;
	vertical-align: middle;
	text-align: center;
	height:100%;
	width:100%;
}
#settings a{
   color:inherit;
   text-decoration: none;
}
#settings div{
	background-color: white; /* changed to white, seems to make everything a little cleaner*/
}



.device{
	height:100%;
	width:100%;
	max-width:800px;
	margin:auto; /* horizontally centers when max-width is invoked (ie screen is greater than 800 px wide)*/
}

/* Settings Style Stuff*/

/*
#ecede8 - Off white
#fd7e47 - Orange
#b5c9d4 - Light blue/gray
#73777a - Dark gray
*/

/*NOTE FROM STEVEN --->> MY CODE NO LONGER USES THIS STYLE SHEET,
FEEL FREE TO EDIT OR DELETE WHATEVER YOU NEED TOO.*/

#settings .settings {
	font-size: 40px;
	position: center;
}

#settings table.tb_settings {
	width: 100%;
	height: 90%;
	/*border: 1px solid grey;*/
	padding: 5%;
	position: center;
	text-align: center;
	
}

#settings table.customize {
	width: 60%;
	padding: 5%;
	position: left;

}
#settings tr.tr_settings {
	border: 2px solid red;
	/*background-color: #b5c9d4;*/
}

#settings td:hover {
	
	
/*color: #ecede8;
	font-style: #ecede8;*/
	background-color: #ecede8;
	text-shadow: 5px 5px 10px  #73777a;
}

#settings td:active {
	color: #b5c9d4  ;
	text-shadow: 0px 0px 0px;

}

#settings tr:hover {
	
}

#settings td.td_settings {
	color: #73777a;
	text-align: center;
	font-style: Helvetica;
	font-size: 200%;

	border: 5px solid #73777a;
	padding: 10px;
}




/*********************/

#savefile{
	width: 50%;
	margin-left: 25%;
	max-height: 200px;
	text-align: center;
}
#savefile h1{

	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing:1px;
	text-align:center; 
}

#savefile input { 
	width: 50%; 
	margin-bottom: 10px; 
	/*margin-left:12.5%;*/
	/*background: rgba(0,0,0,0.3);*/
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
#savefile input:focus { 
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

#savefile button{
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;

	/*font-size: 18px;*/
	font-weight: bold;
	/*position: relative;*/
	/*line-height: 36px;*/
	width:25%;
	/*height:40px;*/
	border-radius: 4px;
	padding: 10px;
	color:white;
	background-image: -webkit-linear-gradient( -45deg, rgba(217,114,20,.75) 0%, rgba(217,114,20,.75) 70%, rgba(217,114,20,1) 70%, rgba(217,114,20,1) 70%);
	background-image: linear-gradient( -45deg, rgba(217,114,20,.75) 0%, rgba(217,114,20,.75) 70%, rgba(217,114,20,1) 70%, rgba(217,114,20,1) 70%);		
}

#openfile{
	width: 50%;
	margin-left: 25%;
	max-height: 200px;
	text-align: center;
}
#openfile h1{

	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing:1px;
	text-align:center; 
}

#openfile select { 
	width: 50%; 
	height:35px;
	margin-bottom: 10px; 
	/*margin-left:12.5%;*/
	/*background: rgba(0,0,0,0.3);*/
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
#openfile select:focus { 
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

#openfile button{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	font-size: 13px;

	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;

	/*font-size: 18px;*/
	font-weight: bold;
	/*position: relative;*/
	/*line-height: 36px;*/
	width:25%;
	/*height:40px;*/
	border-radius: 4px;
	padding: 10px;
	color:white;
	background-image: -webkit-linear-gradient( -45deg, rgba(217,114,20,.75) 0%, rgba(217,114,20,.75) 70%, rgba(217,114,20,1) 70%, rgba(217,114,20,1) 70%);
	background-image: linear-gradient( -45deg, rgba(217,114,20,.75) 0%, rgba(217,114,20,.75) 70%, rgba(217,114,20,1) 70%, rgba(217,114,20,1) 70%);		
}

.shareButtons{
	width:90%;
	margin-left: auto;
}
.shareButtons i{
	color: #fd7e47 !important;
	float:left;
	width:20%;
	padding-bottom: 25px;
}

.shareButtons a{
	text-decoration: none !important;
}

.shareButtons i:hover{
	color: #73777a !important;
	text-shadow: 0px 0px 15px #fd7e47;
}

#sharefile{
	height: auto;
}



